JWT_SECRET_KEY=
MSSQL_DATABASE_URL=mssql+pyodbc://@localhost\\SQLEXPESS/coepd_ai_leads?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&TrustServerCertificate=yes&Encrypt=no
SQLITE_DATABASE_PATH=/var/data/coepd_local.db
CHATBOT_DB_PATH=/var/data/chatbot_app.db
ADMIN_EMAIL=admin@coepd.com
ADMIN_LOGIN_EMAIL=admin@coepd.com
ADMIN_LOGIN_PASSWORD=admin123
AUTH_COOKIE_SECURE=false
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=2
